<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>用户登录</title>
<link rel="stylesheet" type="text/css" media="all"
	href="/plugin/bootstrap/bootstrap.min.css"
	th:href="@{/plugin/bootstrap/bootstrap.min.css}" />
<style>
body {
	margin-left: auto;
	margin-right: auto;
	margin-TOP: 100PX;
	width: 20em;
}
</style>
</head>
<body>
	<div class="input-group">无权限</div>


	<script th:src="@{/plugin/jquery/jquery.min.js}"></script>
	<script th:src="@{/plugin/bootstrap/bootstrap.min.js}"></script>

</body>
</html>