<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gatecm.obsession.mapper.SysModelDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gatecm.obsession.entity.SysModel">
		<id column="id" property="id" />
		<result column="gmt_modify" property="gmtModify" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="style" property="style" />
		<result column="order" property="order" />
		<result column="show_name" property="showName" />
		<result column="is_has_son" property="isHasSon" />
		<result column="parent_model_id" property="parentModelId" />
		<result column="link_url" property="linkUrl" />
		<result column="is_new_blank" property="isNewBlank" />
		<result column="is_del" property="isDel" />
	</resultMap>

	<resultMap id="DTOResultMap" extends="BaseResultMap"
		type="com.gatecm.obsession.dto.ModelTreeDTO">
	</resultMap>

	<select id="getModelTreesByMemberId" parameterType="java.lang.Long"
		resultMap="DTOResultMap">
		SELECT
		m.id AS id,
		m.name AS name,
		m.style AS style,
		m.sort_order AS
		sort_order,
		m.show_name AS show_name,
		m.is_has_son AS is_has_son,
		m.parent_model_id AS parent_model_id,
		m.link_url AS link_url,
		m.is_new_blank AS is_new_blank
		FROM uc_member_identity mi
		JOIN
		sys_identity_model im ON im.identity_id = mi.identity_id
		JOIN sys_model
		m ON m.id=im.model_id
		WHERE mi.member_id=#{memberId,jdbcType=BIGINT}
		ORDER BY
		sort_order
	</select>

</mapper>
