<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gatecm.obsession.mapper.SysPermissionDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gatecm.obsession.entity.SysPermission">
		<id column="id" property="id" />
		<result column="gmt_modify" property="gmtModify" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="url" property="url" />
		<result column="name" property="name" />
		<result column="is_del" property="isDel" />
	</resultMap>

	<select id="findByMemberId" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		SELECT
		p.id AS id,
		p.gmt_create AS gmt_create,
		p.gmt_modify AS gmt_modify,
		p.url AS url,
		p.name AS name,
		p.is_del AS is_del
		FROM uc_member_identity mi
		JOIN sys_identity_permission ip on mi.identity_id = ip.identity_id
		JOIN sys_permission p on p.id = ip.permission_id
		WHERE mi.member_id =#{memberId,jdbcType=BIGINT}
	</select>

</mapper>
